
:root{
    --color1: #0A2A66;
    --color2: #CC1318;
    --color3: #015B04;
    --color4: #1d5e949b;
    --color5: #ffffff;
    --color6: #C1C6CF;
    --color7: #4a709c;
    --color8: #015b04c5;
    --color9: #de4e15;
    --color10: rgb(255, 119, 0);
    --color11: rgba(0, 0, 0, 0.722);
}