
/* :root{
    --color1: #0A2A66;
    --color2: #CC1318;
    --color3: #015B04;
    --color4: rgb(255, 119, 0);
    --color5: rgba(0, 0, 0, 0.722);
} */
/* HEADER */
.header{
    box-shadow: 2px 2px 3px black;
    background-color: var(--color1);
    
    /* Tamaño de las anclas */
    .cajAnclas, .dropdown{
        a{
            font-size: 20px;
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        }
    }
    .cajAnclas:hover{
        background-color: var(--color11);
        border-left: 2px solid var(--color10);
        color: var(--color10);
    }
    .dropdown:hover{
       background-color: var(--color11);
    } 
}
/* FOOTER */
.footer{
    background-color: var(--color1);
    .foot{
        justify-content: center;
        text-align: center;
        i{  
            color: #000000;
            border-radius: 50%;
            background: #ffffff;
        }
        a{
            text-decoration: none;
            
        }
    }
   
    .contactos{
        display: flex;
        justify-content: space-around;
        text-align: center;
        flex-wrap: wrap;
        height: auto;
        a{
            text-decoration: none;
            color: rgb(255, 255, 255);
        }
        a:hover{
            color: var(--color10);
        }
        div{
            i{  
                border-radius: 50%;
                color: rgb(255, 255, 255);
                background: #000000;
            }
        }
        
    }
}