/* .text-salida{
    font-weight: 600;
    font-size: 15px;
    text-align: justify;
    margin-left: 10px;
}

.titulo p{
    text-align: justify;
} */

#profe li{
    font-size: 18px;
    font-weight: 400;
    text-align: justify;
}

#salidateleco li{
    font-size: 18px;
    font-weight: 400;
    text-align: justify;
}