




:root{
    --color1: #0A2A66;
    --color2: #CC1318;
    --color3: #015B04;
    --color45: rgb(255, 119, 0);
    --color5: #28322849;
    --color23: #001830;
}
/* CAJA DE CONTACTOS ARRIBA DEL HEADER */
.cajaContactos{
    /* background-color: var(--color3); */
    justify-content: space-between;
    .contactos{
        /* background-color: #30820a; */
        width: 900px;
        align-items: center;
        a{
            text-decoration: none;
            color: var(--color1);
            font-size: 12px;
           
        }
    }
    .icono{
       
        justify-content: end;
        i{
            font-size: 15px;
            color: #6f6d6d;
        }
    }
        
        
}
/* ICONO DE WHATSAPP FLOTANTE */
.btnWhtasapp{
    position: fixed;
    bottom: 80px;
    right: 10px;
    display: block;
  
  
    img{
        width: 50px;
        height: 50px;
        border-radius: 50%;
        display: block;
        margin: 0 auto;
    }
}


/* HEADER */
.header{
    
    background-color: var(--color1);
   
    /* left: 0; */
    
    /* Tamaño de las anclas */
    .cajAnclas, .dropdown{
        a{
            font-size: 20px;
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        }
    }
    .cajAnclas  {
        position: relative;
        overflow: hidden;
      }
      .cajAnclas::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0; 
        height: 3px;
        background-color: var(--color45);
        transition: width 0.3s ease; /* Transición suave del ancho */
      }
      .cajAnclas:hover::before{
        width: 90%;
      }


    .dropdown:hover{
        border-radius: 5px;
       background-color: rgba(255, 68, 0, 0.477);
       a{
        color: #000000;
       }
    } 
}




/* Menu amburguesa */
.btnMenu, .offcanvas{
    display: none;
}

@media(min-width: 0px) and (max-width: 1120px) {
    .btnMenu, .offcanvas{
        display: block;
        background-color: var(--color1);
        color: white;
        
    }
    .cajaContactos{
        .contactos{
            gap: 30px;
            span{
                display: none;
                
            }
        }
    }
    .anclas{
        a{
            font-family: cambria;
            font-size: 20px;
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        }
        .dropdown{
            button{
                font-family: cambria;
                font-size: 20px;
                font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
            }
        }
    }
    .anclas a{
        position: relative;
        overflow: hidden;
      }
      .anclas a::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0; 
        height: 3px;
        background-color: var(--color45);
        transition: width 0.3s ease; /* Transición suave del ancho */
      }
        .anclas a:hover::before {
        width: 150px;
      }


    .dropdown button:hover{
       border-radius: 5px;
       /* background-color: rgba(255, 68, 0, 0.477); */
       a{
        color: #000000;
       }
    } 
}




/* FOOTER */

.footer {
    background-color: var(--color23);
    a{
        text-decoration: none;
    }
    .texto{
        justify-content: space-between;
    }
    .icons{
        justify-content: space-between;
        a{     
            i{
                border-radius: 50%;
                background-color: #0a5a62b7;
                font-size: 16px;
            }
        }
    }
}



